body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background: #fff;
    padding: 40px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.header {
    border-bottom: 3px solid #2c3e50;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

h1 {
    margin: 0;
    color: #2c3e50;
    font-size: 1.8rem;
}

.subtitle {
    color: #7f8c8d;
    font-weight: bold;
}

h3 {
    color: #2980b9;
    text-transform: uppercase;
    font-size: 1.1rem;
    border-left: 4px solid #2980b9;
    padding-left: 10px;
    margin-top: 25px;
}

.grid-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
}

.titulo {
    font-weight: bold;
    margin-bottom: 2px;
    color: #2c3e50;
}

.texto-contenido {
    margin-top: 0;
    color: #555;
}

.contacto a {
    color: #2980b9;
    text-decoration: none;
}

/* Responsivo para celulares */
@media (max-width: 600px) {
    .grid-content {
        grid-template-columns: 1fr;
    }
    .container {
        padding: 20px;
    }
}

.toggle-theme{
height: auto;
width: auto;
}


body.darkMode {
    background-color: #222222; /* Fondo gris muy oscuro */
    color: #ffffff;            /* Texto blanco */
}

body.darkMode button {
    background-color: #555;
    color: white;
    border: 1px solid #fff;
}

